:root {
  --sider-width: 24rem;
}

.ant-layout {
  &-has-sider {
    height: 100%;
  }

  &-sider {
    background: #191632;
  }

  &-header {
    height: 6.4rem;
    background: white;
  }

  &-content {
    padding: 2rem;

    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
}

.app-layout {
  min-height: 100vh;

  .ant-menu-item-icon {
    .MuiSvgIcon-root {
      font-size: 2.4rem;
    }
  }
}
